[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Kelli Rockwell
	email = kellirockwell@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/krockwell/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/krockwell/.stCommitMsg
[fetch]
	prune = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[alias]
	undo = reset HEAD~
        a = add -A
        s = status --short --branch
	p = "!f() { \
        force=false; \
        new_args=(); \
        for arg in \"$@\"; do \
            if [ \"$arg\" = \"--force\" ] || [ \"$arg\" = \"-f\" ]; then \
                force=true; \
                new_args+=(--force-with-lease); \
            else \
                new_args+=(\"$arg\"); \
            fi; \
        done; \
        if [ \"$force\" = true ]; then \
            echo \"Warning: Force flag detected. Using --force-with-lease instead.\"; \
            echo \"Executing: git push ${new_args[@]}\"; \
            git push \"${new_args[@]}\"; \
        else \
            echo \"Executing: git push $@\"; \
            git push \"$@\"; \
        fi; \
    }; f"
